
.bg-game {
  background-color: #587d52;
}

.player-div {
  background-color: white;
  text-align: center;
  margin-top: 25px;
  font-size: 1.5rem;
  border-radius: 12px;
  width: 30%;
  height: 100px;
  box-shadow: 1px 3px 2px 0px #0000005e;
}

.player-points-div {
  border: 1px solid white;
  text-align: center;
  width: 30%;
  margin-top: 25px;
  border-radius: 12px;
  color: #f9bc3f;
  font-size: 0.8rem;
  padding: 2px 0px;
}

.player-middle {
  margin-top: 15px;
  line-height: 10px;
}

.player-image {
  width: 60px;
  height: 55px;
  border-radius: 55px;
  margin-top: -25px;
}

.player-identity {
  background-color: #587d52;
  margin: 6px 20% 0px 20%;
  text-align: center;
  border-radius: 10px;
}

.timer-div {
  background-color: #feb438;
  height: 85px;
  width: 85px;
  text-align: center;
  border-radius: 100px;
}

.timer-div .remain-text {
  font-size: 0.7rem;
  padding: 0px 5px;
  line-height: 1.1rem;
}

.timer-div .remain-time {
  font-size: 1.5rem;
}

.player1-icon {
  color: yellow;
}

.player2-icon {
  color: red;
}

.game-table tbody tr td  {
  text-align: center;
  vertical-align: middle;
}

.player-turn {
  margin-top: 30px;
  padding: 2px 10px;
  border-radius: 10px;
}

.player-turn.player1 {
  background-color: #feb438;;
}

.game-table tbody tr td div {
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  width: 4rem;
  height: 4rem;
  background-color: #ffffff;
  border-radius: 11px;
  cursor: pointer;
}

.chat-div {
  float: right;
  background-color: #FFEBEE;
  padding: 3px 10px;
  border-radius: 10px;
  color: #aa0b05;
  cursor: default;
}

.before::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-size: cover;
  background-position: center;
  filter: blur(10px); /* Adjust the blur value as needed */
}

.m-all-center {
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.m-all-center.stretch {
  align-items: stretch;
}


.game-body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh; /* Set the height of the body to 100% of the viewport height */
}

/* Set the height of each div based on the percentage of the viewport height */
.div1 {
  height: 30vh;
}

.div2 {
  height: 50vh;
}

.div3 {
  height: 10vh;
}

.div4 {
  height: 10vh;
}

.turn-div {
  display: grid;
    align-items: start;
}

.footer-div {
  display: grid;
    justify-items: end;
    align-items: center;
}